@import "styles";

.addEditTask {
  @include enterAnimation;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: $white;
  overflow: auto;

  .date {
    padding: $padding;
  }
}
