@import "styles";

.button {
  @include button;

  &.primary {
    @include gradient($primary);
  }

  &.icon {
    margin: 0;
    padding: 0.29rem;
  }
}

.bgColor {
  background: transparent;
  @include border(transparent);
  color: $primary;

  &:hover:enabled {
    background: transparent;
    color: $neutral;
  }
}
