@import "../../../styles";

.button {
  @include border($color: $primary);
  margin: $margin;
  @include paddingBox;
  color: $text_light;
  outline: none;

  &:hover:enabled {
    @include gradient(scale-color($primary, $lightness: 10%));
    cursor: pointer;
  }

  &:disabled {
    $disabledColor: scale-color($text_light, $lightness: -38%);
    color: $disabledColor;
    cursor: not-allowed;
  }

  &:focus {
    outline: 1px solid invert($primary);
  }

  &:active {
    transition: all 0.15s;
    transform: scale(0.9, 0.9);
  }

  &.primary {
  @include gradient($primary);
  }
}
