@import "styles/";

.bgColor {
  background: transparent;
  @include border(transparent);
  color: get-color(base, dark);
  box-shadow: none;

  &:hover:enabled {
    color: get-color(main, main-700);
    background: transparent;
    box-shadow: none;
    transform: scaleX(1.03);
  }
}
