@import "styles";

.Auth {
  padding: $padding;
  .form {
    padding: 4rem 0;

    label {
      text-transform: capitalize;
      display: block;
    }

    input {
      user-select: auto;
      margin-bottom: $margin;
      width: 100%;
      display: block;
      color: $black;
      @include paddingBox;
      @include border();

      &[type="checkbox"] {
        display: inline-block;
        margin-left: $margin * $goldenRatioDecrease;
        width: initial;
      }

      &:focus {
        outline: none;
      }

      &:disabled {
        visibility: hidden;
      }
    }
  }
}

@media screen and (min-width: $tablet) {
  .Auth {
    .form {
      padding: 4rem 10rem;
    }
  }
}
