@import "styles";

.AssetTypeSelector {
  padding: 1rem;
  ul {
    @include border($color: $primary);
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(20%, 1fr));
    gap: 1rem;

    li {
      @include paddingBox;
      border: 1px dashed saddlebrown;
      @include button;
      margin: 0;
      text-align: center;
    }
  }
}
