/* Coolors Exported Palette - coolors.co/726e60-172a3a-6b947a-575761-b07bac */

/* HSL */
$color1: hsla(47%, 9%, 41%, 1);
$color2: hsla(207%, 43%, 16%, 1);
$color3: hsla(142%, 16%, 50%, 1);
$color4: hsla(240%, 5%, 36%, 1);
$color5: hsla(305%, 25%, 59%, 1);

/* RGB */
$color1: rgba(114, 110, 96, 1);
$color2: rgba(23, 42, 58, 1);
$color3: rgba(107, 148, 122, 1);
$color4: rgba(87, 87, 97, 1);
$color5: rgba(176, 123, 172, 1);