@import "styles";

.Welcome {
  width: 100%;
  min-height: 100%;
  display: grid;
  place-content: center;
}

.jumbotron {
  font-size: 1.618rem;
  // padding: 5em;
  max-width: 76%;
  justify-self: center;
  // min-height: 61.8vh;
  // display: grid;
  // place-content: center;
  @include border($width: 0);

  // .head,
  // .body {
  //   // margin: 0 auto;
  //   // padding: 2em;
  // }

  header {
    background: get-color(main, main-900);
    padding: 1em;
    text-align: center;
  }

  .body {
    min-height: 76%;
    padding: 2em;
    background: get-color(base, light);
    color: get-color(main, main-900);
  }

  footer {
    // display: flex;
    // justify-content: center;
    font-size: initial;
    a {
      @include btnLink($shape: "pill");
    }
  }
}
