/* colors, sass */
$black: #222222;
$white: invert($black);
$neutral: mix($black, $white, 25);
$gray: mix($black, $white, 25);
$darkGray: invert($gray);
$primary: #556655;
$primaryLight: #6c826c;
$secondary: #2c2c2c;
$tertiary: #e4ddcd;
$triadic: #665555;
$triadic2: #555566;
$tetradic: #665e55;

$text_dark: #2c2c2c;
$text_light: $white;

$errorColor: #662222;
$warningColor: #e2e263;
$successColor: #556655;

$primary: #6b947a;
$accent: #946b85;
$foreground: #6b7194;
$background: #948f6b;
// Monochromatic theme
$white: #fdfdfd;
$primaryLight: hsl(120, 14%, 50%);
$primary: #455445;
$primaryDark: hsl(120, 14%, 20%);
$secondary: hsl(50, 10%, 70%);

/* in use */
$black: #111111;
$white: invert($black);
$neutral: mix($black, $white, 25);
$primary: #448855;
$white: invert($black);
$black: #222222;
$black: scale-color($primary, $lightness: -29%);
$white: scale-color($primary, $lightness: 97%);
$neutral: scale-color($primary, $lightness: 76%);

// This variable must be outside of the colors map so the properties can reference it.
$primary: #225522;
$secondary: #887354;
$tertiary: #552222;

$main: #e7f5e5;
$support: #d8d1c4;
$accent: scale-color($main, $green: -12%, $red: 12%);

$opacity: 29%;

@function tint($color, $percentage) {
  $tintWhite: scale-color($color, $lightness: 76%);
  @return mix($tintWhite, $color, $percentage);
}

@function shade($color, $percentage) {
  $tintBlack: scale-color($color, $lightness: -76%);
  @return mix($tintBlack, $color, $percentage);
}

$base-light: scale-color($main, $lightness: 76%);
$base-dark: scale-color($main, $lightness: -76%);
$base-neutral: mix($base-light, $base-dark, 76);

$main-100: tint($main, 76%);
$main-200: tint($main, 47%);
$main-300: tint($main, 29%);
$main-400: tint($main, 18%);
$main-500: $main;
$main-600: shade($main, 18%);
$main-700: shade($main, 29%);
$main-800: shade($main, 47%);
$main-900: shade($main, 76%);

$support-100: tint($support, 76%);
$support-200: tint($support, 47%);
$support-300: tint($support, 29%);
$support-400: tint($support, 18%);
$support-500: $support;
$support-600: shade($support, 18%);
$support-700: shade($support, 29%);
$support-800: shade($support, 47%);
$support-900: shade($support, 76%);

$accent-100: tint($accent, 76%);
$accent-200: tint($accent, 47%);
$accent-300: tint($accent, 29%);
$accent-400: tint($accent, 18%);
$accent-500: $accent;
$accent-600: shade($accent, 18%);
$accent-700: shade($accent, 29%);
$accent-800: shade($accent, 47%);
$accent-900: shade($accent, 76%);

$colors: (
  base: (
    light: $base-light,
    neutral: $base-neutral,
    dark: $base-dark,
  ),
  main: (
    base: $main,
    darkest: $main-900,
    ld: mix(scale-color($main, $lightness: -76%), scale-color($main, $lightness: 76%), 47),
    light: scale-color($main, $lightness: 76%),
    dark: scale-color($main, $lightness: -7.6%),
    darker: scale-color($main, $lightness: -76%),
    alpha: rgba($main, $opacity),
    main-100: $main-100,
    main-200: $main-200,
    main-300: $main-300,
    main-400: $main-400,
    main-500: $main-500,
    main-600: $main-600,
    main-700: $main-700,
    main-800: $main-800,
    main-900: $main-900,
  ),
  support: (
    base: $support,
    light: scale-color($support, $lightness: 92%),
    dark: scale-color($support, $lightness: -29%),
    alpha: rgba($support, $opacity),
    support-100: $support-100,
    support-200: $support-200,
    support-300: $support-300,
    support-400: $support-400,
    support-500: $support-500,
    support-600: $support-600,
    support-700: $support-700,
    support-800: $support-800,
    support-900: $support-900,
  ),
  accent: (
    base: $accent,
    light: scale-color($accent, $lightness: 47%),
    dark: scale-color($accent, $lightness: -29%),
    trans: scale-color($accent, $alpha: -$opacity),
    accent-100: $accent-100,
    accent-200: $accent-200,
    accent-300: $accent-300,
    accent-400: $accent-400,
    accent-500: $accent-500,
    accent-600: $accent-600,
    accent-700: $accent-700,
    accent-800: $accent-800,
    accent-900: $accent-900,
  ),
  primary: $primary,
  primary-light: scale-color($primary, $lightness: 83%),
  secondary: $secondary,
  app-black: scale-color($primary, $lightness: -29%),
  app-white: scale-color($primary, $lightness: 98%),
  neutral: scale-color($primary, $lightness: 92%),
  state: (
    info: #e9f1f9,
    error: #884455,
    warning: #888800,
    success: #448855,
  ),
);

@function get-color($keys...) {
  $value: $colors;

  @each $key in $keys {
    $value: map-get($value, $key);
  }

  @return $value;
}

:export {
  leaf: $main-100;
  leafShade: $main-500;
  wood: $support-600;
  woodShade: $support-700;
}
