/* colors, sass */
$black: #222222;
$white: invert($black);
$neutral: mix($black, $white, 25);
$gray: mix($black, $white, 25);
$darkGray: invert($gray);
$primary: #556655;
$primaryLight: #6c826c;
$secondary: #2c2c2c;
$tertiary: #e4ddcd;
$triadic: #665555;
$triadic2: #555566;
$tetradic: #665e55;

$text_dark: #2c2c2c;
$text_light: $white;

$errorColor: #662222;
$warningColor: #e2e263;
$successColor: #556655;


$primary: #6b947a;
$accent: #946b85;
$foreground: #6b7194;
$background: #948f6b;
// Monochromatic theme
$white: #fdfdfd;
$primaryLight: hsl(120, 14%, 50%);
$primary: hsl(120, 10%, 30%);
$primaryDark: hsl(120, 14%, 20%);
$secondary: hsl(50, 10%, 70%);