@use "styles/base/typography";

// mixins
@mixin appFixedContainer {
  display: grid;
  grid-template-rows: auto minmax(0, 1fr) auto;
  width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

@mixin backgroundImage($size: 100%, $left: 0, $bottom: 0) {
  &::before {
    z-index: -1;
    content: "";

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    background: url(/components/common/Background/tree_2c.svg) no-repeat fixed;
    background-size: $size;
    // background-size: cover;
    // background-clip: padding-box;
    background-position: left $left bottom $bottom;
    background-blend-mode: color-dodge;
    // filter: blur(0.12rem);
  }
}

@mixin borderRadius() {
  border-radius: 1rem * $goldenRatioDecrease * $goldenRatioDecrease * $goldenRatioDecrease;
}

@mixin border($color: transparent, $width: 1px, $style: solid) {
  border-width: $width;
  border-color: $color;
  border-style: $style;
  @include borderRadius();
}

@mixin borderTest() {
  border: 1px solid $errorColor;
}

@mixin boxShadow($color: $black) {
  $alpha: 0.18;
  box-shadow: 0px 0px 1px rgba($color, $alpha), 0px 1px 2px rgba($color, $alpha), 0px 2px 4px rgba($color, 0.12);
}

@mixin btnPill($bg-color: get-color("neutral"), $text-color: $text_light) {
  flex-grow: 0.25;
  background-color: get-color("neutral");
  @include boxShadow(get-color(base, dark));
  border-radius: 100px;
  @include paddingBox;
  margin: $margin;
  text-align: center;
  transition: all $duration ease-in-out;

  &:hover {
    box-shadow: 0 3px 5px rgba(get-color(base, dark), 0.29);
    transform: scaleX(1.03);
    background: get-color(main, dark);
  }
}

@mixin pill {
  border-radius: 47rem;
}

@mixin leaf {
  border-radius: 76% 12% / 200%;
}

@mixin btnLink($bg-color: get-color(main, main-500), $text-color: get-color(base, dark), $shape: "default") {
  font-family: typography.$fontStackSans;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.618;
  color: $text-color;
  text-align: center;
  // white-space: nowrap;
  // @include border(shade($bg-color, 12%));
  @include borderRadius();
  @if $shape == "pill" {
    @include pill;
  }
  @if $shape == "leaf" {
    @include leaf;
  }

  @include paddingBox;
  background: $bg-color;
  // margin: $margin;
  // margin: var(--margin) 0;
  // background-image: linear-gradient(180deg, $bg-color 0%, tint($bg-color, 47%) 18%, $bg-color 100%);
  user-select: none;
  transition: all $duration ease-in-out;
  @include boxShadow(get-color(base, dark));
  // box-shadow: inset 0 0 3px rgba(shade($bg-color, 18%), 18%);

  // text-decoration: if($link-decoration == none, null, none);
  // cursor: if($enable-button-pointers, pointer, null);

  &:hover {
    box-shadow: 0 3px 5px rgba(get-color(base, dark), 0.29);
    cursor: pointer;
    transform: scaleX(1.03);
  }

  &:hover:disabled {
    letter-spacing: normal;
  }

  &:disabled {
    $disabledColor: rgba($neutral, 0.47);
    color: $disabledColor;
    cursor: not-allowed;
  }

  &:focus {
    @include focus(shade($bg-color, 47%));

    &:active {
      @include boxShadow(get-color(base, dark));
      transform: scale(1.012);
    }

    &.primary {
      // @include gradient($primary);
    }

    &::after {
      position: absolute;
      bottom: -0.618em;
      left: -5%;
      content: "";
      background-color: rgba($bg-color, 47%);
      width: 110%;
    }
  }
}
@mixin button($bg-color: get-color(main, main-500), $text-color: get-color(base, dark)) {
  // position: relative;
  display: inline-flex;
  // width: 100%;
  font-family: typography.$fontStackSans;
  font-size: 1rem;
  font-weight: 500;
  // font-weight: 600;
  line-height: 1.618;
  color: $text-color;
  text-align: center;
  vertical-align: middle;
  // white-space: nowrap;
  // @include border(shade($bg-color, 12%));
  @include borderRadius();
  @include paddingBox;
  background: $bg-color;
  // margin: $margin;
  // margin: var(--margin) 0;
  // background-image: linear-gradient(180deg, $bg-color 0%, tint($bg-color, 47%) 18%, $bg-color 100%);
  user-select: none;
  transition: all $duration ease-in-out;
  @include boxShadow(get-color(base, dark));
  // box-shadow: inset 0 0 3px rgba(shade($bg-color, 18%), 18%);

  // text-decoration: if($link-decoration == none, null, none);
  // cursor: if($enable-button-pointers, pointer, null);

  &:hover {
    box-shadow: 0 3px 5px rgba(get-color(base, dark), 0.29);
    cursor: pointer;
  }

  &:hover:disabled {
    letter-spacing: normal;
  }

  &:disabled {
    $disabledColor: rgba($neutral, 0.47);
    color: $disabledColor;
    cursor: not-allowed;
  }

  &:focus {
    @include focus(shade($bg-color, 47%));

    &:active {
      @include boxShadow(get-color(base, dark));
      transform: scale(1.012);
    }

    &.primary {
      // @include gradient($primary);
    }

    &::after {
      position: absolute;
      bottom: -0.618em;
      left: -5%;
      content: "";
      background-color: rgba($bg-color, 47%);
      width: 110%;
    }
  }
}

@mixin focus($color: get-color(main, main-500)) {
  outline: thin dotted $color;
  outline-offset: 0.12rem;
}

@mixin gradient($color) {
  background-image: linear-gradient(
    173deg,
    scale-color($color, $lightness: 10%) 0%,
    scale-color($color, $lightness: 15%) 10%,
    $color 62%,
    scale-color($color, $lightness: -15%) 90%,
    scale-color($color, $lightness: -10%) 100%
  );
}

@mixin input {
  padding: get-size(300) * 1em get-size(400) * 1em;
  margin: 0 0 $margin 0;
  @include border($color: $primary);
}

@mixin paddingBox {
  padding: ($padding * $goldenRatioDecrease) $padding;
}

/* 
* @include triangle within a pseudo element and add positioning properties (ie. top, left)
* $direction: up, down, left, right
*/
@mixin triangle($direction, $size: 6px, $color: #222) {
  content: "";
  display: block;
  position: absolute;
  height: 0;
  width: 0;
  @if ($direction == "up") {
    border-bottom: $size solid $color;
    border-left: 1/2 * $size solid transparent;
    border-right: 1/2 * $size solid transparent;
  } @else if ($direction == "down") {
    border-top: $size solid $color;
    border-left: 1/2 * $size solid transparent;
    border-right: 1/2 * $size solid transparent;
  } @else if ($direction == "left") {
    border-top: 1/2 * $size solid transparent;
    border-bottom: 1/2 * $size solid transparent;
    border-right: $size solid $color;
  } @else if ($direction == "right") {
    border-top: 1/2 * $size solid transparent;
    border-bottom: 1/2 * $size solid transparent;
    border-left: $size solid $color;
  }
}

// Breakpoints for each query
$smartphone: 767px;
$tablet: 768px;
$tabletLandscape: 900px;
$desktop: 1080px;
$largeScreen: 1800px;
@mixin respondTo($media) {
  @if $media == smartphone {
    @media (max-width: $smartphone) {
      @content;
    }
  } @else if $media == tablet {
    @media (min-width: $tablet) {
      @content;
    }
  } @else if $media == tabletLandscape {
    @media (min-width: $tabletLandscape) {
      @content;
    }
  } @else if $media == desktop {
    @media (min-width: $desktop) {
      @content;
    }
  } @else if $media == largeScreen {
    @media (min-width: $largeScreen) {
      @content;
    }
  }
}
/* Example usage div {
  // regular styles here
  @include respondTo(desktop) {
    &:hover {
      background: blue;
    } // only add the hover effect on desktop browsers
  }
}
This can be done
@media (min-width: $tabletPortrait) and (max-width: $tabletLandscape) {
*/

@mixin enterAnimation() {
  animation: softIn 305ms ease-out;
  @keyframes softIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}
