// devices
$tablet: 768px;
$desktop: 1080px;

/* sizes */
$margin: 1em;
$padding: 1em;
$maxWidth: 960px;

// speed
$duration: 0.3s;

//factors
$goldenRatio: 1.618;
$goldenRatioDecrease: 0.618;
$large: 0.618;
$small: 0.382;
$largePercent: 61.8%;
$smallPercent: 38.2%;
$goldenPercent: 76%;

$grp: 1.618%;
$grp2: 2.618%;
$grp3: 4.236%;
$grp4: 6.854%;
$grp5: 11.089%;
$grp6: 17.942%;
$grp7: 29.03%;
$grp8: 46.971%;
$grp9: 75.999%;
$grp10: 122.966%;
$grp11: 198.959%;

$fib: 1;
$fib: 2;
$fib: 3;
$fib: 5;
$fib: 8;
$fib: 13;
$fib: 21;
$fib: 34;
$fib: 55;
$fib: 89;
$fib: 144;

