@import "styles";

.colorTest {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  & > ul {
    margin: $margin;

    & > li {
      display: flex;
      align-items: center;
      & > div {
        margin: $margin;
        min-width: 5rem;
        min-height: 2rem;
      }

      & > p {
        white-space: nowrap;
      }
    }
  }

  .main {
    border: 3px solid get-color(main, main-500);
    .main100 {
      background: get-color(main, main-100);
    }
    .main200 {
      background: get-color(main, main-200);
    }
    .main300 {
      background: get-color(main, main-300);
    }
    .main400 {
      background: get-color(main, main-400);
    }
    .main500 {
      background: get-color(main, main-500);
    }
    .main600 {
      background: get-color(main, main-600);
    }
    .main700 {
      background: get-color(main, main-700);
    }
    .main800 {
      background: get-color(main, main-800);
    }
    .main900 {
      background: get-color(main, main-900);
    }
  }

  .support {
    border: 3px solid get-color(support, support-500);
    .support100 {
      background: get-color(support, support-100);
    }
    .support200 {
      background: get-color(support, support-200);
    }
    .support300 {
      background: get-color(support, support-300);
    }
    .support400 {
      background: get-color(support, support-400);
    }
    .support500 {
      background: get-color(support, support-500);
    }
    .support600 {
      background: get-color(support, support-600);
    }
    .support700 {
      background: get-color(support, support-700);
    }
    .support800 {
      background: get-color(support, support-800);
    }
    .support900 {
      background: get-color(support, support-900);
    }
  }

  .accent {
    border: 3px solid get-color(accent, accent-500);
    .accent100 {
      background: get-color(accent, accent-100);
    }
    .accent200 {
      background: get-color(accent, accent-200);
    }
    .accent300 {
      background: get-color(accent, accent-300);
    }
    .accent400 {
      background: get-color(accent, accent-400);
    }
    .accent500 {
      background: get-color(accent, accent-500);
    }
    .accent600 {
      background: get-color(accent, accent-600);
    }
    .accent700 {
      background: get-color(accent, accent-700);
    }
    .accent800 {
      background: get-color(accent, accent-800);
    }
    .accent900 {
      background: get-color(accent, accent-900);
    }
  }
}
