#deveop-manager {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

:root {
  --light: hsl(120, 15%, 99%);
  --medium: rgb(72, 80, 72);
  --dark: hsl(120, 15%, 10%);

  /* colors */
  --black: hsl(0, 0%, 4%);
  --brown: hsl(50, 75%, 16%);
  --brown-accent: hsl(38, 46%, 53%);
  --green-light: hsl(120, 15%, 49%);
  --green: #415741;
  --greenRGB: 65, 87, 65;
  --green-dark: hsl(120, 15%, 19%);
  --greenAccent: hsl(120, 24%, 30%);
  --greenCompliment: hsl(300, 14%, 30%);
  --greenComplimentRGB: 87, 65, 87;
  --gold: hsl(45, 89%, 82%);
  --gold-light: hsl(32, 62%, 84%);
  --red-light: hsl(0, 42%, 34%);
  --red: hsl(0, 14%, 30%);
  --red-dark: hsl(0, 15%, 19%);
  --redAccent: hsl(0, 24%, 30%);
  --redComplimentRGB: 65, 87, 87;

  --primary: #6b947a;
  --accent: #946B85;
  --foreground: #6B7194;
  --background: #948F6B;

  --color1: rgba(114, 110, 96, 1);
  --darkN: rgba(23, 42, 58, 1);
  --mediumN: rgba(107, 148, 122, 1);
  --lightN: rgba(87, 87, 97, 1);
  --color5: rgba(176, 123, 172, 1);

  /* sizes */
  --margin: .618em;
  --padding: .618em;
  --maxWidth: 1024px;

  /* box model */
  /* --boxShadow: 0 0 10px rgba(40, 40, 10, 0.5); */
  --boxShadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  --border: 2px solid var(--dark);
  --borderRadius: calc(.5rem * .618);

  /* font */
  --fontStackSans: 'Hind Siliguri', sans-serif;
  --fontStackSerif: 'Georgia', serif;
  --fontStackIcons: 'Material Icons';
  --fontStackRoboto: 'Roboto', sans-serif;

  /* animations */
  --softIn: softIn 618ms ease-in;
}

@keyframes softIn {
  from {
    opacity: 0.0;
  }

  to {
    opacity: 1.0;
  }
}

/* set default base size for deveice and reading distance */
/* mobile */
html {
  font-size: 16px;
  font-family: var(--fontStackSans);
}

/* tablet */
@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

/* desktop */
@media screen and (min-width: 1080px) {
  html {
    font-size: 22px;
  }
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: var(--light);
}

* {
  box-sizing: border-box;
  /* ask mobile browsers to please trust our judgement about font sizes */
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  font-size: 2.075rem;
}

h2 {
  font-size: 1.725rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.33;
  font-family: var(--fontStackSans);
  color: var(--red);
}

p {
  font-family: var(--fontStackSans);
  color: var(--dark);
  margin: var(--margin);
}

a {
  text-decoration: none;
  color: var(--green);
}

ul {
  font-family: var(--fontStackSans);
  list-style-type: none;
}

blockquote {
  font-family: var(--fontStackSans);
  color: var(--dark);
}

cite {
  font-family: var(--fontStackSans);
  font-size: .66rem;
  font-weight: normal;
  color: var(--dark);
}

label {
  font-family: var(--fontStackSans)
}