@import "../../../styles/base";

.closedModal {
  display: none;
}

.modal {
  position: fixed;
  display: flex;
  z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.618);
}

.modal__content {
  position: relative;
  display: flex;
  flex-direction: column;
  background: var(--light);
  margin: auto;
  width: 95%;
  max-width: 800px;
  max-height: 95%;
  border: var(--border);
  border-radius: var(--borderRadius);
  padding: var(--padding);
  box-shadow: var(--boxShadow);
  overflow: hidden;
}

.scroll-wrapper {
  padding: var(--padding);
  overflow: auto;
}

.modal__close {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  color: var(--medium);
}

.modal__close > button:hover {
  cursor: pointer;
  color: var(--dark);
  font-weight: bold;
  transition: all 321ms ease-in-out;
}