@import "styles";

.link {
  display: inline-block;
  transition: all $duration ease;
  color: inherit;
  padding: 0;

  &.active {
    opacity: 0.55;
  }

  &:hover {
    color: lighten($white, 32);
    letter-spacing: 1px;
  }

  svg {
    font-size: 0.76rem;
    vertical-align: baseline;
  }

  &__seperator {
    margin-left: 1rem * $goldenRatioDecrease;
  }

  & span {
    text-transform: capitalize;
  }
}
