@import "styles";

.link {
  display: inline-block;
  transition: all $duration ease;
  color: inherit;
  padding: 0;

  &.active {
    opacity: 0.47;
  }

  &:hover {
    cursor: pointer;
    color: get-color(main, base);
    transform: scaleX(1.03);
  }

  svg {
    font-size: 0.76rem;
    vertical-align: baseline;
  }

  &__seperator {
    margin-left: 1rem * $goldenRatioDecrease;
  }

  & span {
    text-transform: capitalize;
  }
}
