@import "styles";

.nav {
  ul {
    margin: 0;
    padding: 0;

    li {
      display: block;
      @include paddingBox;
      text-align: end;
      color: $white;

      @include respondTo(tabletLandscape) {
        display: inline-flex;

        svg {
          display: none;
        }
      }
    }
  }
}
