.meal-planner__table-wrapper {
  width: calc(100vw - (2 * var(--margin)));
  overflow-x: auto;
  margin: var(--margin);
}

.meal-planner__table tr {
  padding: var(--padding);
}

.meal-planner__table th {
  padding: var(--padding);
}

.meal-planner__table td {
  border: var(--border);
  padding: var(--padding);
}

@media only screen and (min-width: 800px) {
  .meal-planner__table {
    margin: var(--margin) auto;
  }
}