@import "../../base";

.list {
  position: relative;
  font-size: 20px;
  border: transparent;
  @include gradient($secondary);
  padding: $padding;
  // color: darken($secondary, 38%);
  // text-align: center;

  & ul {
    position: relative;
    padding: 0;
    height: 100px;
    // margin: 0;
  }

  & li {
    position: absolute;
    color: $white;
    @include paddingBox;

    & span {
      font-size: 1rem;
    }

    &:hover {
      cursor: pointer;
    }

    &.selected {
      border-radius: $borderRadius;
      @include gradient(rgba($primary, .38));
    }
  }


}
