@import "../../base";

.lifeUnits {
  color: darken($primary, 62);
  border-radius: $borderRadius;

  & p {
    color: darken($primary, 62);
  }

  & ul li {
    font-size: 0.62rem;
  }
  & ul li span::before {
    content: "\0020";
  }
}
