@import "../../../../base";

.display {
  margin: 0 $margin;
  min-width: 4rem;
  border-radius: $borderRadius;
  color: darken($primary, 62);

  & h2 {
    font-size: 1rem;

    & span {
      display: block;
      font-size: 0.618em;
      font-weight: normal;
      font-style: italic;
    }
  }

  & p {
    color: darken($primary, 62);
  }

  & ul li {
    font-size: 0.62rem;
  }
}