.asset__selector__sort-find {
	display: flex;
	margin: var(--margin);
}

.asset__selector__ul {
	overflow-y: scroll;
	overflow-x: hidden;
	padding: var(--padding);
	margin: 0;
}

.asset__selector__ul li {
	white-space: nowrap;
	padding: var(--padding);
	margin: var(--margin);
	text-overflow: ellipsis;
	overflow: hidden;
	text-overflow: ellipsis;
	color: var(--red);
	font-weight: bold;
	/* box-shadow: var(--boxShadow); */
	border-bottom: 1px solid var(--green);
	/* border-radius: var(--borderRadius); */
}

.asset__selector__ul li div {
	white-space: nowrap;
	/* padding: var(--padding); */
	margin-left: var(--margin);
	text-overflow: ellipsis;
	overflow: hidden;
	text-overflow: ellipsis;
	font-style: italic;
	font-size: 0.618em;
	// color: rgba(var(--redComplimentRGB));
	border-radius: var(--borderRadius);
}