.item-card {
  padding: var(--padding);
}

.item-card__title {
  margin: 0;
  padding: var(--padding);
  border-radius: var(--borderRadius);
  background: linear-gradient(rgba(var(--redComplimentRGB), .0618), rgba(var(--redComplimentRGB), .1))
}

.item-card__group {
  border-radius: var(--borderRadius);
  display: flex;
  justify-content: space-between;
  margin: var(--margin) 0;
  padding: var(--padding);
  /* box-shadow: var(--boxShadow); */
  align-items: center;
}

.item-card__group label {
  font-size: 1em;
  padding: 0;
}

.item-card__group div {
  font-size: 1.32em;
  padding: 0;
  color: var(--red);
}

.item-card__group-sub {
  padding: var(--padding);
  margin: 0 var(--margin);
}

.item-card__group-sub label {
  font-size: .618em;
}

.item-card__group-sub div {
  font-size: 1em;
  padding: 0;
  color: var(--red);
}

.item-card__group-textarea {
  display: block;
}

.item-card__group-textarea textarea {
  user-select: none;
}

.item-card__group-textarea label {
  margin: var(--margin) 0;
  display: block;
}