@import "styles";

.nav {
  text-align: center;
  color: $white;
  background: $primary;

  ul {
    margin: 0;
    padding: 0;
    display: inline-flex;

    li {
      @include paddingBox;

      span {
        display: none;
      }
    }
  }

  @include respondTo(tabletLandscape) {
    display: none;
  }
}
