@import "styles";

.background {
  z-index: -1;
  display: block;
  margin: 0 auto;
  position: absolute;
  max-height: 100%;
  min-height: 100%;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
.leaf {
  fill: url(#leafGradient);
}
.wood {
  fill: url(#woodGradient);
}
