.life-units-reward {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(var(--primaryLight), var(--primary));
  color: var(--white);
  font-size: 0.618rem;
  padding: calc(var(--padding) / 1.618) var(--padding);

  & .life-units-reward__points {
    // margin-left: var(--margin);
  }

  & .life-units-reward__rewards {
    display: flex;
    // margin-right: var(--margin);

    & button {
      margin-left: var(--margin);
      padding: calc(var(--padding) * 0.32) var(--padding);
      border: var(--border);
      background: linear-gradient(var(--primaryLight), var(--primaryDark));
      color: var(--white);

      &:hover {
        cursor: pointer;
        background: linear-gradient(var(--primaryLight), var(--primary));
      }
    }
  }
}
