@import "../abstracts/colors";
@import "../abstracts/themes";
@import "../abstracts/mixins";
@import "../abstracts/variables";

/* #region Variables */
:root {
  --placeholder: 42;
}

html {
  box-sizing: border-box;
}

/* set default base size for deveice and reading distance */
/* mobile */
html {
  font-size: 16px;
  /* tablet min-width: 768px */
  @include respondTo(tablet) {
    font-size: 18px;
  }
  /* desktop min-width: 1080px*/
  @include respondTo(desktop) {
    font-size: 22px;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
  user-select: none;
  // animation: var(--softIn);
}

body {
  font-family: $fontStackSans;
  line-height: 1.618rem;
  background-color: get-color(base, light);
  color: get-color(base, dark);

  // @include appFixedContainer;
}

html,
body {
  position: relative;
  min-height: 100%;
  width: 100%;
  min-width: 320px;
  min-block-size: 100vh;
}

h1 {
  font-size: 2.075rem;
  line-height: 3.334rem;
}

h2 {
  font-size: 1.725rem;
  line-height: 2.791rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 2.427rem;
}

h4 {
  font-size: 1.25rem;
  line-height: 2.023rem;
}

h5 {
  font-size: 1.1rem;
  line-height: 1.78rem;
}

h6 {
  font-size: 1rem;
  line-height: 1.618rem;
}

a {
  text-decoration: none;
  color: $primary;
}

ul {
  list-style-type: none;
}

input,
select,
textarea,
button {
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
}

cite {
  font-size: 0.618rem;
}

// newline ideas to test
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

img {
  display: block;
  max-inline-size: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
blockquote,
figcaption {
  max-width: 60ch;
}

:focus {
  @include focus;
}
