a {
  line-height: 24px;
}

.link__seperator {
  margin-left: var(--margin);

  & span {
    font-size: 0.62rem;
    margin-left: var(--margin);
  }
}

.material-icons {
  display: inline-flex;
  vertical-align: top;
}
